:root {
    --mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --inter: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  }


* {margin: 0; padding: 0; border: 0;}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Montserrat';
    text-align: center;
    color: #101010;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4 {
    font-family: 'Ubuntu';
}
h1 {
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: clamp(30px, 5.5vw, 50px);
    line-height: 1.1;
    font-weight: 700;
    box-sizing: inherit;
}

section {
    background-color: #0A192F;
    padding: 115px 30px;
}
#main-banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
nav.navigation-container {
    background-color: #0A192F;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 100%;
    transition: all .1s ease-in-out;
    z-index: 9999999;
}
nav.navigation-container.scrolled {
    backdrop-filter: blur(5px);
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
    height: 80px;
}
.navbar-brand img {
    width: 40px;
}
.nav-menu ul li {
    list-style-type: none;
    padding: 0 40px 0 0;
}
.navbar-dark .navbar-nav .nav-link{
    color: #ccd6f6;
    font-size: 14px;
    font-family: var(--mono);
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    transition: all .2s ease-in-out;
    padding-right: 3.5rem!important;
    padding-left: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link:hover{
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
}
.collapse.show {
    display: block;
    top: 100px;
    right: 0;
}
.scrolling_down {
    transform: translateY(-100%);
}
.scrolling_up {
    transform: translateY(0px);
}

/* Floating email address */
.email-address {
    position: fixed;
    bottom: 0px;
    right: 50px;
}
.floaters-after:after {
    content: "";
    display: block;
    width: 1px;
    height: 120px;
    margin: 0px auto;
    background-color: white;
    margin-top: 20px;
}
.email-address a{
    font-family: var(--mono);
    font-size: 12px;
    color: #a8b2d1;
    letter-spacing: 2px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transition: all .2s ease-in-out;
}
.email-address a:hover {
    color: #ccd6f6;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
}
i {
    font-style: unset;
}
.socials i:before {
    color: #a8b2d1;
    font-weight: 800;
    font-family: fontawesome;
    font-size: 25px;
    transition: all .3s ease-in-out;
}
/* Floating social medias */
.socials {
    position: fixed;
    bottom: 0px;
    left: 50px;
    display: flex;
    flex-direction: column;
}
.socials a{
    transition: transform .3s ease-in-out;
    padding-top: 15px;
}
.socials a:hover{
    transform: translateY(-3px);
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
}
.socials a:hover i:before{
    color: #ccd6f6;
}

.gen-button-style a{
    font-size: 14px;
    color: #64ffda;
    padding: 12px 16px;
    background-color: transparent;
    border:1px solid #64ffda;
    border-radius: 4px;
    font-family: var(--mono);
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
}
.gen-button-style a:hover{
    background-color: rgba(100,255,218,0.1);
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/* Main Banner */
#main-banner {
    background-color: #0A192F;
}
#main-banner .row{
    flex-direction: column;
    align-items: flex-start;
}
#main-banner h2 {
    font-size: 16px;
    font-family: var(--mono);
    color: #64ffda;
}
#main-banner h1 {
    font-size: 80px;
    font-family: var(--mono);
    color: #ccd6f6;
}
#main-banner h1 span{
    font-family: var(--mono);
    padding-left: 10px;
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4,
    0 0 400px #03bcf4;
}
/* Bulb Name*/
.bulb-name {
    position: relative;
    color: #0e3742;
    text-transform: uppercase;
}
.bulb-name span{
    animation: animate 5s linear infinite;
}
.bulb h2{
    color: transparent;
    font-size: 80px!important;
    text-align: center;
}

@keyframes animate {
    0%, 18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3642;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
    }
}
#main-banner p {
    font-size: 20px;
    font-family: var(--inter);
    color: #8892b0;
    text-align: left;
    max-width: 50%;
}
#main-banner .gen-button-style {
    margin-top: 30px;

}

/* Works */
#works h2 {
    font-size: 32px;
    color: #fff;
    font-family: var(--inter);
    font-weight: bold;
    display: flex;
    align-items: center;
    /* text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4, 0 0 400px #03bcf4; */
}
.text-header h2::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.project-img-container {
    height: 374px;
    width: 100%;
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 3s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
    border: 10px solid #000;
    border-radius: 15px 15px 0px 0px;
}

/* webite screenshots */
.website-screenshots-container {
    position: relative;
}
.vertere .project-img-container {
    background-image: url('./img/vertere-gs.jpg');
}
.vertere-mobile {
    background: url('./img/verteremobile.png');
}

.utsfp .project-img-container {
    background-image: url('./img/usaptayosafp.jpg');
}
.utsfp-mobile {
    background-image: url('./img/usaptayosafpmobile.png');
}

.hino-carmona .project-img-container {
    background-image: url('./img/hinocarmonadesktop.png');
}
.hinocarmona-mobile {
    background-image: url('./img/hinocarmonamobile.png');
}

.raalaw .project-img-container {
    background-image: url('./img/raattorneyslawdesktop.png');
}
.raalaw-mobile {
    background-image: url('./img/raattorneyslawmobile.png'); 
}

.mobile-border {    
    position: absolute;
    bottom: -15px;
}
.project-img-container-mobile {
    height: 278px;
    border-radius: 15px;
    width: 145px;
    z-index: 999;
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    transition: 3s ease-in-out;
    box-shadow: 0px 0px 26px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%) inset;
    -webkit-box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%) inset;
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5) inset;
}
.mobile-border {
    padding: 6px 6px 6px;
    background-color: #000;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    box-shadow: inset 0 0 4px rgb(255 255 255 / 70%);
    border-bottom-width: 3px!important;
    border-top-width: 3px!important;
    border-left-width: 3px;
    border-right-width: 3px;
}
.mobile-border:after {
    content: "";
    background: rgb(0 0 0 / 50%);
    position: absolute;
    width: 43px;
    height: 2px;
    border-radius: 50%;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 0 7px rgb(0 0 0 / 10%);
    box-sizing: border-box;
}
.mobile-border:before {
    content: "";
    width: 66px;
    height: 14px;
    background: #000;
    position: absolute;
    border-radius: 0 0 10px 10px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.desktop-border {
    padding-bottom: 50px;
    background: #fff;
    border-radius: 15px;

}
.desktop-border:after {
    content: "\f179";
    font-family: fontawesome;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: grey;
}
.desktop-border:before {
    content: "";
    width: 100px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 45px 24px -30px rgb(0 0 0 / 44%) inset;
}


.work-list-odd .mobile-border {
    left: -15px;
}
.work-list-even .mobile-border {
    right: -15px;
}

.project-img-container:hover {
    background-position-y: 100%;
    transition: 7s ease-out;
}
.project-img-container-mobile:hover {
    background-position-y: 100%;
    transition: 20s ease-out;
}
.description {
    color: #a8b2d1;
    font-size: 18px;
    padding: 25px;
    background-color: #112240;
    border-radius: 5px;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}
.description-container {
    position: relative;
    z-index: 999;
}
.description-container:before {
    content: "";
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 22px;
    border-radius: 5px;
    border: 2px solid #ccd6f6;
}
.works-slider {
    display: flex;
    padding-bottom: 150px;
}
.project-info {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9999;
}
.website-screenshots-container {
    width: 55%;
}
.text-header {
    margin-bottom: 60px;
}
h2.projectname {
    margin-bottom: 30px;
}
.open-the-site-button i::before {
    color: #a8b2d1;
    font-weight: 800;
    font-family: fontawesome;
    font-size: 25px;
    transition: all .3s ease-in-out;
}
.open-the-site-button {
    margin-top: 30px;
}

.open-the-site-button a:hover {
    text-shadow: rgb(3 188 244) 0px 0px 10px, rgb(3 188 244) 0px 0px 20px;
}

/* work list odd */
.work-list-odd h2.projectname{
    justify-content: flex-end;
}
.work-list-odd .project-info{
    text-align: right;
}
.work-list-odd .description-container:before {
    right: 0;
}
.work-list-odd .open-the-site-button i::before {
    padding-left: 10px;
}
.work-list-odd .description {
    transform: translatex(-50px);
    width: calc(100% + 25px);
}
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear {
    opacity: 1
}

/* work list even */
.work-list-even h2.projectname{
    justify-content: flex-start;
}
.work-list-even .project-info{
    text-align: left;
}
.work-list-even .description-container:before {
    left: 0;
}
.work-list-even .open-the-site-button i::before {
    padding-right: 10px;
}
.work-list-even .description {
    transform: translatex(25px);
    width: calc(100% + 25px);
}

/* Hanging bulb */
.area {
    width: 200px;
    height: 500px;
    animation: swing 1s infinite ease-in-out alternate;
    transform-origin: top;
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
}
.wire {
    position: relative;
    left: 98px;
    height: 400px;
    width: 4px;
    background-color: black;
}
.fixture {
    position: relative;
    background-color: grey;
    width: 16px;
    height: 20px;
    left: 92px;
}
.strip {
    position: relative;
    width: 18px;
    height: 2px;
    right: 1px;
    top: 4px;
    background-color: darkgrey;
}
.strip:nth-of-type(2) {
    top: 7px;
}
.strip:nth-of-type(3) {
    top: 10px;
}
.bulb {
    position: relative;
    width: 40px;
    height: 40px;
    left: 80px;
    bottom: 2px;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 300px 77px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 300px 77px rgb(255, 255, 255);
    box-shadow: 0px 0px 300px 77px rgb(255, 255, 255);
}
.zig {
    position: relative;
    background-color: transparent;
    width: 10px;
    height: 5px;
    border-radius: 5px / 2.5px;
    left: 14px;
    border: black solid 1px;
}
.zig:nth-of-type(2) {
    top: -3px;
}
.zig:nth-of-type(3) {
    top: -6px;
}
@keyframes swing {
    from {
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    to {
        transform: rotate(-1deg);
    }
}

.buld-row {
    position: absolute;
    right: 20vw;
    top: 0;
}
/* Side bar menu mobile */
.side-bar-menu {
    width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #051428;
    z-index: 99999999;
    align-items: center;
    justify-content: center;
    transform: translatex(100%);
    transition: transform .3s ease-in-out;
}
.side-bar-menu.show-side-bar {
    transform: translatex(0%)!important;
}
.side-bar-menu .navbar-nav .nav-link {
    font-size: 25px;
    color: #ccd6f6;
    font-weight: bold;
}
.side-bar-menu .email-mobile-side-bar {
    font-size: 18px;
}

/* Mobile Responsivenes */

@media only screen and (max-width: 1380px) {
    .project-img-container {
        height: 335px;
    }
}

@media only screen and (max-width: 980px) {
    #main-banner h1 {
        font-size: 70px;
    }
    div#navbarNav {
        display: none!important;
    }
    .buld-row {
        right: 8vw;
    }
    nav.navigation-container{
        padding: 0px 30px;
    }
    .close-button {
        position: absolute;
        top: 37px;
        right: 54px;
        font-weight: bold;
        color: white;
    }
    .not-scrollable {
        overflow: hidden;
    }
    .not-scrollable section, .not-scrollable nav {
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }
    .side-bar-menu .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        position: unset;
        flex-direction: unset;
        margin-bottom: 20px;
    }
    .side-bar-menu .socials a {
        padding: 0 15px
    }
    .gen-button-style {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav .nav-link {
        font-size: 25px;
    }
    .gen-button-style a {
        width: 100%;
    }
    .side-bar-menu .gen-button-style a {
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .floaters-after {
        display: none;
    }
    .row {
        width: 100%;
    }
    #works h2 {
        font-size: 24px;
    }
    .project-info {
        padding-top: 50px;
    }
    .description-container:before {
        display: none;
    }
    .description {
        transform: unset!important;
        width: 100%!important;
    }
    .works-slider {
        display: flex;
        flex-wrap: wrap;
    }
    .work-list-even {
        flex-direction: column-reverse;
    }
    .works-slider > div {
        width: 100%;
    }
    .work-list-even .mobile-border {
        right: 0;
    }
    .work-list-odd .mobile-border {
        left: 0;
    }
    .project-img-container {
        border-radius: 10px 10px 0px 0px;
    }
    .works-slider {
        padding-bottom: 50px;
    }
    h2.projectname {
        justify-content: center!important;
    }
    .open-the-site-button {
        margin-top: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 480px) {
    #main-banner h1 {
        font-size: 40px;
    }
    nav.navigation-container{
        padding: 0px 15px;
    }
    .works-slider {
        padding-bottom: 40px;
    }
    
    .desktop-border {
        padding-bottom: 28px;
        border-radius: 10px;
    }
    .desktop-border:after {
        font-size: 16px; 
    }
    .project-img-container {
        height: 205px;
        border: 5px solid #000;
    }

    .project-img-container-mobile {
        height: 130px;
        width: 70px;
    }
    .mobile-border {
        border-radius: 13px;
        padding: 3px 2px 3px;
    }
    .mobile-border:after {
        width: 20px;
        height: 20px;
    }
    .project-img-container {
        height: 200px
    }
    .text-header h2::after {
        display: none;
    }
    .mobile-border:after {
        display: none;
    }
    .mobile-border:before {
        width: 44px;
        height: 7px;
        top: 2px;
    }
    .project-img-container-mobile {
        border-radius: 10px;
    }
    .mobile-border {
        border-width: 2px!important;
    }
    .navbar-toggler-icon {
        width: 30px!important;
        height: 30px!important;
    }
    button.navbar-toggler {
        border: none;
    }
    nav.navigation-container {
        height: 85px;
    }
    .navbar-brand img {
        width: 30px;
    }
}
